################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio
.vs/
**/.vs/

# Build folders
bin/
obj/
**/bin/
**/obj/

# Visual Studio user files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build configurations
[Dd]ebug/
[Rr]elease/

# NuGet
packages/
*.nupkg

# Logs
*.log

# User-uploaded family photos
**/Images/Members/*
!**/Images/Members/.gitkeep
